:root {
  --green: rgb(27, 165, 27);

}

* {
  transition: all .2s ease;
}

h1 {
  font-size: x-large;
  margin: 30px 0px 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid;
}

.navbar-collapse {
  justify-content: end;
}

.nav-link {
  font-weight: 500;
}

.card {
  margin: 20px 0px;
  border: 1px solid rgb(0 0 0 / 51%);
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
  background-color: #343a40;
  color: white;
  font-weight: 600;
  font-size: larger;
}

.card-body {
  padding: 15px;
}

.card-text {
  margin: 0;
}

.greeting, .create-button {
  text-align: center;
  margin: 10px 0px;
  font-weight: 500;
}

.h5 {
  font-size: large;
}

.table {
  margin: 20px 0px;
}

.project-form, .equip-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.btn {
  margin: 5px;
}

.login-btn {
  width: 100px;
}

.create-form, .edit-form {
  margin-top: 30px;
}

.equip-id {
  width: 100px;
}

.center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.form-label {
  font-weight: bold;
}

.modal-dialog {
  top: 40vh;
}

.fixed-form-text {
  font-size: initial;
  padding: 0px 5px;
}

.loading {
  display: block;
  position: fixed;
  height: 100px;
  top: 45vh;
}

.timesheet-emp {
  margin: 0;
  font-weight: 400;
}

.fa-circle-check {
  width: 25px;
  height: 25px;
}

.approve-timesheet {
  display: flex;
  justify-content: flex-end;
}

.my-btn {
  margin: 0px 0px 0px 10px;
  padding: 0;
  color: #343a40;
  background-color: rgba(255, 255, 255, 0);
  border: 0;
}

.my-btn:hover {
  color: var(--green);
  background-color: rgba(255, 255, 255, 0);
  border: 0;
}

.my-btn:active {
  color: var(--green);
  background-color: rgba(255, 255, 255, 0);
  border: 0;
}

.my-btn:focus {
  color: var(--green);
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  box-shadow: none;
}

.green-btn {
  color: var(--green);
}

.profile-name {
  font-size: initial;
  padding-left: 10px;
}

/* :root {
  --green: rgb(27, 165, 27);
  --yellow: rgb(236, 198, 28);
  --grey: rgb(167, 167, 167);
  --grey-light: rgba(167, 167, 167, 0.116);
}

* {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  transition: all .4s ease;
}

header {
  text-align: center;
}

nav {
  height: 30px;
}

a {
  margin: 2px;
  padding: 5px;
  border-radius: 10px;
  text-decoration: none;
  color: black;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding-left: 5px;
}

table {
  border-collapse: collapse;
}

th {
  text-align: left;
  font-weight: bold;
  line-height: 30px;
}

td {
  border: 1px solid rgba(0, 0, 0, 0.493);
}

button {
  background: white;
  border: 1px solid green;
  border-radius: 10px;
  color: var(--green);
  padding: 5px;
}

button:hover {
  cursor: pointer;
  background-color: rgba(0, 128, 0, 0.137);
}

.logo {
  margin: 20px;
}

.nav-span {
  margin-bottom: 20px;
}

.nav-link {
  margin: 0px 15px;
  border: 2px solid rgba(0, 0, 0, 0);
  background-color: var(--green);
}

.login {
  background-color: var(--yellow);
}

.signup {
  background-color: var(--grey);
}

.greeting {
  text-align: center;
}

.timesheet-card {
  margin: 5px;
  padding: 20px;
  border: 0.5px solid var(--green);
  border-radius: 20px;
  width: 80%;
}

.time {
  padding: 5px 0px 10px;
}

.equip {
  font-weight: 600;
}

.form-input {
  background: white;
  border: 1px solid green;
  border-radius: 10px;
  color: green;
  margin: 5px;
  padding: 5px;
}

.create-button {
  padding: 5px;
  margin: 10px;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.column {
  flex-direction: column;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
}

.bigger {
  font-size: large;
  font-weight: 600;
}

.green {
  color: var(--green);
}

.w-60 {
  width: 60px;
}

.w-100 {
  min-width: 100px;
}

.w-200 {
  min-width: 200px;
}

.m-10 {
  margin: 10px;
}

.pr-20 {
  padding-right: 20px;
} */